.btn-group button {
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: inline-block; /* Make the buttons appear below each other */
    margin: 1px;
    border-radius: 10%;
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #3e8e41;
  }